@model Web.Models.Aluno

<div class="row">
    <div class="col-12">
        <h1>Página inicial de alunos</h1>
    </div>
</div>
<div class="row">
    <div class="col">
        @Model.Nome
    </div>
    <div class="col">
        @Model.Idade
    </div>
    <div class="col">
        @Model.Matricula
    </div>
    <div class="col">
        @Model.Cpf
    </div>
</div>