@{
    ViewData["Title"] = "Escola Virtual - Página inicial";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindos ao Sistema Escola Virtual</h1>
    <p>Feito por: <a href="#">Prof. Ancelmo Luiz com ASP.NET Core</a>.</p>
</div>
